h1{
    text-align: center;
    color: #00A0E9;
    font-size: 40px;
    height: 50px;
    text-shadow: 2px 2px 2px rgb(180, 180, 180);
}

.loginid {
    text-align: center;
}

.button {
    text-align: right;
}