.rank {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: #E5E5E5;
    position: relative;
    margin: 16px;
}

.rank p {
    position: absolute;
    text-align: center;
    top: 16px;
}

.rank img {
    position: absolute;
}

.box1, .box2, .box3, .box4 {
    height: 100px;
    width: 100px;
    background: red;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
    height: 100px;
    width: 100px;
    background: blue;
}