.timetable {
    margin: 16px;
    border: 1px solid;
    color: #2e7c40;
    transform: translate(10%);
    width: 80%;
    height: 70%;
}

.timetable td {
    background: #F4FDE8;
}



h1 {
    color: aquamarine;
}

.profile {
    position: relative;
    border: solid 1px #2e7c40;
    border-radius: 8px;
    margin: 16px;
    width: auto;
}

.u-icon {
    display: inline-block;
    border-radius: 50%;
    border: 1.5px solid #eee;
    transform: translate(50%);
}


.user {
    display: inline-block;
	justify-content: center;
	align-items: center;
}

.user p {
    color: black;
}