.display_icon {
    transition: all 5s ease;
    height: 104px;
    width: 104px;
    border-radius: 24px;
    background-color: #fefefe;
    animation: rotate_anime 1s infinite;
}

#trigger {
    display: none;
}

#trigger:checked ~ label .display_icon {
    transform: rotate(3600deg);
    background: #F17C7E;
}

/* @keyframes rotate_anime {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
} */

/*
.display_icon:hover {
    transform: rotate(3600deg);
    height: 200px;
    width: 200px;
}
*/