{% load static %}

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>

    <header>
        <div class="inner">
          <div class="inner_color">
            <a href="{% url 'home' %}"><h2>アプリ名</h2></a>
          </div>
        
          <div class="h-menu">
            <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
            <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
            <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
            <div id="h-menu_content">
              <ul>
                <li><a href="{% url 'top' %}"><img src="..\media\images\top.png" width="48" height="48"><p>掲示板</p></a></li>
                <li><a href="{% url 'mypage' %}"><img src="..\media\images\時間割.png" width="48" height="48"><p>時間割</p></a></li>
                <li><a href="{% url 'pub' %}"><img src="..\media\images\ondemando.png" width="48" height="48"><p>オンデマンド</p></a></li>
                <li><a href="{% url 'chat' %}"><img src="..\media\images\ルーズリーフのノートアイコン.png" width="48" height="48"><p>DM機能</p></a></li>
                <li><a href="{% url 'priv' %}"><img src="..\media\images\設定.png" width="48" height="48"><p>設定</p></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

    <body>
    <h1>Home</h1>

    {% if user.is_authenticated %}
    <p>学籍番号: {{ user.username }}</p>
    <p>ユーザー名: {{ user.userinfo.username }}</p>
    {% if user.userinfo.icon %}
    <img src="{{ user.userinfo.icon }}" class="user-icon">
    {% else %}
    <img src="{% static 'images/user_icon.png' %}" class="user-icon">
    {% endif %}
    <a href="{% url 'logout' %}">ログアウト</a>

    <table class="timetable" border="5px">
        <tbody>
            <tr><h3>時間割</h3></tr>
            <tr>
                <th>　</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
            </tr>
            <tr>
                <th>1</th>
                <td>
                    <p>理科</p>
                </td>
                <td>
                    <p>国語</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
            </tr>
            <tr>
                <th>2</th>
                <td>
                    <p>数学</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>英語</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
            </tr>
            <tr>
                <th>3</th>
                <td>
                    <p>英語</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
            </tr>
            <tr>
                <th>4</th>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>社会</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
            </tr>
            <tr>
                <th>5</th>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>理科</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>英語</p>
                </td>
            </tr>
            <tr>
                <th>6</th>
                
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>-</p>
                </td>
                <td>
                    <p>国語</p>
                </td>
                <td>
                    <p>-</p>
                </td>
            </tr>
            
        </tbody>
    </table>


    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">login</a></p>
    <p><a href = "{% url 'signup' %}">アカウント作成</a></p>
    {% endif %}
  </body>
</html>
