{% load static %}

<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>

    <body>
        <header>
            <div class="inner">
                <div class="inner_color">
                <a href="{% url 'home' %}"><img src="../../../media/images/Compassアイコン黒.png" height="32px"></a>
                <p></p>
                </div>
            
                <div class="h-menu">
                    <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
                    <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
                    <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
                    <div id="h-menu_content">
                        <ul>
                            <li>
                                {% if user.is_authenticated %}
                                {% if user.userinfo.icon %}
                                <img src="../../../media/{{ user.userinfo.icon }}" class="icon">
                                {% else %}
                                <img src="{% static 'images/user_icon.png' %}" class="user-icon">
                                {% endif %}
                                <div class="user">
                                    <p>学籍番号: {{ user.username }}</p>
                                    <p>ユーザー名: {{ user.userinfo.username }}</p>
                                </div>
                                {% endif %}
                            </li>
                            <li><a href="{% url 'top' %}"><img src="..\media\images\top.png" width="48" height="48"><p>掲示板</p></a></li>
                            <li><a href="{% url 'mypage' %}"><img src="..\media\images\時間割.png" width="48" height="48"><p>時間割</p></a></li>
                            <li><a href="{% url 'pub' %}"><img src="..\media\images\ondemando.png" width="48" height="48"><p>オンデマンド</p></a></li>
                            <li><a href="{% url 'chat' %}"><img src="..\media\images\ルーズリーフのノートアイコン.png" width="48" height="48"><p>DM機能</p></a></li>
                            <li><a href="{% url 'priv' %}"><img src="..\media\images\設定.png" width="48" height="48"><p>設定</p></a></li>
                            <li><a href="{% url 'logout' %}">ログアウト</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <h1>Home</h1>

        {% if user.is_authenticated %}
        <p>学籍番号: {{ user.username }}</p>
        <p>ユーザー名: {{ user.userinfo.username }}</p>
        {% if user.userinfo.icon %}
        <img src="../../../media/{{ user.userinfo.icon }}" class="u-icon" height="64px">
        {% else %}
        <img src="{% static 'images/user_icon.png' %}" class="u-icon">
        {% endif %}
        <a href="{% url 'logout' %}">ログアウト</a>

        <table class="timetable" boder="5px">
            <tbody>
                <tr>
                    <th>〇</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                </tr>
                <tr>
                    <th>1</th>
                    <td>
                        {{ user.userinfo.timetable.mon1 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue1 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed1 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu1 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri1 }}
                    </td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>
                        {{ user.userinfo.timetable.mon2 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue2 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed2 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu2 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri2 }}
                    </td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>
                        {{ user.userinfo.timetable.mon3 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue3 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed3 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu3 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri3 }}
                    </td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>
                        {{ user.userinfo.timetable.mon4 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue4 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed4 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu4 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri4 }}
                    </td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>
                        {{ user.userinfo.timetable.mon5 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue5 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed5 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu5 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri5 }}
                    </td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>
                        {{ user.userinfo.timetable.mon6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri6 }}
                    </td>
                </tr>
                <tr>
                    <th>6</th>
                    <td>
                        {{ user.userinfo.timetable.mon6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.tue6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.wed6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.thu6 }}
                    </td>
                    <td>
                        {{ user.userinfo.timetable.fri6 }}
                    </td>
                </tr>
                
            </tbody>
        </table>


        {% else %}
        <p>You are not logged in.</p>
        <p><a href="{% url 'login' %}">login</a></p>
        <p><a href = "{% url 'signup' %}">アカウント作成</a></p>
        {% endif %}
    </body>
</html>
