<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>プロフィール</title>
    </head>
    <body>
        <h1>～アプリ名～</h1>
        {% if user.is_authenticated %}
        <h2>id: {{ user.get_username }} でログイン中</h2>
        {% else %}
        <h2>ログインしていません</h2>
        {% endif %}
        <h3>プロフィール</h3>
        

        <p>ユーザー名: {{ user.userinfo.username }}</p>
        <p>年齢: {{ user.userinfo.age }}歳</p>
        
        <br>

        <form action="{% url 'priv' %}" method="POST">
            {% csrf_token %}

            <input id="username" type="text" value={{ user.userinfo.username }} name="username"><br>
            <input id="number" type="number" value={{ user.userinfo.age }} name="age" >

            
            <button id="submit" type="submit">編集</button>
        </form>

        <br>
        

        <p><a href="{% url 'home' %}">ホームに戻る</a></p>

        <table>
            <tbody>
                <tr>
                    <th>〇</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                </tr>
                <tr>
                    <th>1</th>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>5</th>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>6</th>
                    
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                    <td>
                        <select name="subject">
                            <option value="none" selected>-</option>
                            <option value="国語">国語</option>
                            <option value="数学">数学</option>
                            <option value="英語">英語</option>
                            <option value="理科">理科</option>
                            <option value="社会">社会</option>
                        </select>
                    </td>
                </tr>
                
            </tbody>
        </table>


    </body>
</html>