<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>コメントの編集</title>
        {% load static %}
    </head>

    <body>
        <header>
            <div class="inner">
              <div class="inner_color">
                <a href="{% url 'home' %}"><img src="../../../media/images/Compassアイコン黒.png" height="32px"></a>
                <p></p>
              </div>
            
              <div class="h-menu">
                <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
                <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
                <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
                <div id="h-menu_content">
                  <ul>
                    <li>
                      {% if user.is_authenticated %}
                      {% if user.userinfo.icon %}
                      <img src="../../../media/{{ user.userinfo.icon }}" class="icon">
                      {% else %}
                      <img src="{% static 'images/user_icon.png' %}" class="user-icon">
                      {% endif %}
                      <div class="user">
                        <p>学籍番号: {{ user.username }}</p>
                        <p>ユーザー名: {{ user.userinfo.username }}</p>
                      </div>
                      {% endif %}
                    </li>
                    <li><a href="{% url 'top' %}"><img src="..\media\images\top.png" width="48" height="48"><p>掲示板</p></a></li>
                    <li><a href="{% url 'mypage' %}"><img src="..\media\images\時間割.png" width="48" height="48"><p>時間割</p></a></li>
                    <li><a href="{% url 'pub' %}"><img src="..\media\images\ondemando.png" width="48" height="48"><p>オンデマンド</p></a></li>
                    <li><a href="{% url 'chat' %}"><img src="..\media\images\ルーズリーフのノートアイコン.png" width="48" height="48"><p>DM機能</p></a></li>
                    <li><a href="{% url 'priv' %}"><img src="..\media\images\設定.png" width="48" height="48"><p>設定</p></a></li>
                    <li><a href="{% url 'logout' %}">ログアウト</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </header>
        <h1>編集</h1>
        <form action="{% url 'comment_update' comment.id %}" method="post">
            {% csrf_token %}
            <div>
                <label for="textInput">内容</label>
                <textarea id="textInput" name="text" cols="80" rows="8">{{ comment.text }}</textarea>
            </div>
            <!--
            <div>
                <label for="image">画像</label>
                <input type="file" name="image" accept="image/jpeg, image/png">
                {% if article.image %}
                <img src="{{ article.image.url }}" style="width: 100px;height:auto">
                {% endif %}
            </div>
            
            <div>
                <label for="checkbox">匿名</label>
                <input type="checkbox" name="checkbox">
            </div>
            -->
            
            <div>
                <button type="submit" id="button">再投稿</button>
            </div>
        </form>
    </body>
</html>