<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>投稿内容の編集</title>
        {% load static %}
    </head>

    <body>
        <h1>編集</h1>
        <form action="{% url 'update' article.id %}" method="post">
            {% csrf_token %}
            <div>
                <label for="titleInput">タイトル&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <input id="titleInput" name="title" type="text" placeholder="Input name" value="{{ article.title }}">
            </div>
            <div>
                <label for="textInput">内容</label>
                <textarea id="textInput" name="text" cols="80" rows="8">
                    {{ article.body }}
                </textarea>
            </div>
            <!--
            <div>
                <label for="image">画像</label>
                <input type="file" name="image" accept="image/jpeg, image/png">
                {% if article.image %}
                <img src="{{ article.image.url }}" style="width: 100px;height:auto">
                {% endif %}
            </div>
            -->
            <div>
                <label for="checkbox">匿名</label>
                <input type="checkbox" name="checkbox">
            </div>

            <div>
                <button type="submit" id="button">再投稿</button>
            </div>
        </form>
    </body>
</html>