{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>投稿確認</title>
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>

    <header>
        <div class="inner">
          <div class="inner_color">
            <a href="{% url 'home' %}"><h2>アプリ名</h2></a>
            <p></p>
          </div>
        
          <div class="h-menu">
            <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
            <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
            <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
            <div id="h-menu_content">
              <ul>
                <li>
                  {% if user.is_authenticated %}
                  {% if user.userinfo.icon %}
                  <p>ユーザー名: {{ user.userinfo.username }}</p>
                  <img src="{% static 'images/user_icon.png' %}" class="user-icon">
                  {% else %}
                  <img src="{% static 'images/user_icon.png' %}" class="user-icon">
                  {% endif %}
                  <div class="user">
                    <p>学籍番号: {{ user.username }}</p>
                    <p>ユーザー名: {{ user.userinfo.username }}</p>
                  </div>
                  {% endif %}
                </li>
                <li><a href="{% url 'top' %}"><img src="..\media\images\top.png" width="48" height="48"><p>掲示板</p></a></li>
                <li><a href="{% url 'mypage' %}"><img src="..\media\images\時間割.png" width="48" height="48"><p>時間割</p></a></li>
                <li><a href="{% url 'pub' %}"><img src="..\media\images\ondemando.png" width="48" height="48"><p>オンデマンド</p></a></li>
                <li><a href="{% url 'chat' %}"><img src="..\media\images\ルーズリーフのノートアイコン.png" width="48" height="48"><p>DM機能</p></a></li>
                <li><a href="{% url 'priv' %}"><img src="..\media\images\設定.png" width="48" height="48"><p>設定</p></a></li>
                <li><a href="{% url 'logout' %}">ログアウト</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

    <body>
        <h1>投稿詳細</h1>
        <br>
        
        <div>
            <h3>title:</h3>
            <p>{{ article.title }}</p>
            <h3>内容</h3>
            <div>
               {{ article.body | linebreaksbr }}
            </div>
            <diV>
              {% if article.image %}
              <img src="{{ article.image.url }}" style="width: 300px;height:auto">
              {% endif %}
            </diV>
            <h3>日時</h3>
            <small>{{ article.posted_at }}</small>
        </div>
        <p>
            <a href="{% url 'index' %}" id="Top">Top</a>
            <a href="{% url 'rank' %}" id="rank">Rank</a>
            <a href="{% url 'update' article.id %}" id="edit">編集</a>
            <a href="{% url 'delete' article.id %}" id="delete">削除</a>
        </p>
        
        <hr>
        <h3>コメント</h3>

        {% if comments %}
        {% for comment in comments %}
        <div>
            <div>
                <small>[{{ comment.posted_at }}]</small>
            </div>
            <div>
                {{ comment.text | linebreaksbr }}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>コメントがありません。</p>
        {% endif %}
        
        <form action="{% url 'detail' article.id %}" method="post">
            {% csrf_token %}
            <diV>
                <label for="textInput">Text</label>
                <textarea id="titleInput" name="text" rows="3"></textarea>
            </diV>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>

        
    </body>
</html>