{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login.css' %}">
  </head>
  <body>
    <h1>ログインページ</h1>
    <div class="loginid">
      id:<input type="text" id="name" name="name" required minlength="30" maxlength="30" size="28"><br>
      pass:<input type="text" id="name" name="name" required minlength="30" maxlength="30" size="30">
    </div>
    <div class="button">
      <input type="button"size="8" value="ログイン">
    </div>
  </body>
</html>
