{% load static %}

<html>
  <head>
    <title>掲示板</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/rank.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
  </head>

  <body>
    <header>
      <div class="inner">
        <div class="inner_color">
          <a href="{% url 'home' %}"><img src="../../../media/images/Compassアイコン黒.png" height="32px"></a>
          <p></p>
        </div>
      
        <div class="h-menu">
          <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
          <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
          <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
          <div id="h-menu_content">
            <ul>
              <li>
                {% if user.is_authenticated %}
                {% if user.userinfo.icon %}
                <img src="../../../media/{{ user.userinfo.icon }}" class="icon">
                {% else %}
                <img src="{% static 'images/user_icon.png' %}" class="user-icon">
                {% endif %}
                <div class="user">
                  <p>学籍番号: {{ user.username }}</p>
                  <p>ユーザー名: {{ user.userinfo.username }}</p>
                </div>
                {% endif %}
              </li>
              <li><a href="{% url 'top' %}"><img src="..\media\images\top.png" width="48" height="48"><p>掲示板</p></a></li>
              <li><a href="{% url 'mypage' %}"><img src="..\media\images\時間割.png" width="48" height="48"><p>時間割</p></a></li>
              <li><a href="{% url 'pub' %}"><img src="..\media\images\ondemando.png" width="48" height="48"><p>オンデマンド</p></a></li>
              <li><a href="{% url 'chat' %}"><img src="..\media\images\ルーズリーフのノートアイコン.png" width="48" height="48"><p>DM機能</p></a></li>
              <li><a href="{% url 'priv' %}"><img src="..\media\images\設定.png" width="48" height="48"><p>設定</p></a></li>
              <li><a href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
      <div class="header-body">
        <h1>ランキング</h1>
      </div>
      
      <h1>ランキング</h1>
      {% if articles %}
        {% for article in articles %}
        <hr>
          <div>
            <div>
              <h3>{{ article.title }}</h3>
              {% if article.image %}
              <img src="{{ article.image.url }}" style="width: 100px;height:auto">
              {% else %}
              {% if article.anonymity %}
              {% if article.user.userinfo.icon %}
              <img src="../../../media/{{ user.userinfo.icon }}" class="icon">
              {% else %}
              {% endif %}
              {% else %}
              <img src="{% static 'images/user_icon.png' %}" class="user-icon">
              {% endif %}
            {% endif %}
            </div>
            
            <!--<p>投稿者: {{ article.user }}</p>
            {{ article.body | linebreaksbr }} -->
            <small>[{{ article.posted_at }}]</small>
            <p><img src="..\media\images\heart.png" width="16" height="16">  {{ article.like }}  <a href="{% url 'detail' article.id %}">詳細</a></p>  
            <br>
            
              
          </div>
        {% endfor %}
      {% else %}
        <p> 投稿はありません</p>
      {% endif %}

      <p><a href="{% url 'index' %}" id="Top">Top</a></p>
    </main>
  </body>
</html>