{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>掲示板</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'top.css' %}">
  </head>
  <body>
    <header>
      <div class="header-body">
        <h1>掲示板</h1>
      </div>
    </header>
    <nav>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">サービス紹介</a></li>
          <li><a href="#">最新情報</a></li>
          <li><a href="#">ブログ</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
    </nav>
    <main>
      <p>あ</p>
    </main>
  </body>
</html>
