{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>掲示板</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
  </head>
  <body>
    <header>
      <div class="header-body">
        <h1>掲示板</h1>
      </div>

      <form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          <div>
            <label for="titleInput">タイトル</label>
            <input id="titleInput" name="title" type="text" placeholder="Input name">
          </div>
          <div>
            <label for="textInput">内容</label>
            <textarea id="textInput" name="text" cols="30" rows="10" ></textarea>
          </div>
          <!--
          <div>
            <label for="image">画像</label>
            <input type="file" name="image" accept="image/jpeg, image/png">
          </div>-->
        </div>
        <div>
          <button type="submit" id="button">投稿</button>
        </div>
      </form>

      <br>
      {% if articles %}
        {% for article in articles %}
          <div class="article">
            <h5>{{ article.title }}</h5>
            {{ article.body | linebreaksbr }}
            <diV>
              {% if article.image %}
              <img src="{{ article.image.url }}" style="width:300px;height:auto">
              {% endif %}
            </diV>
            <small>[{{ article.posted_at }}]</small>
            <div>
              <a href="{% url 'like' article.id %}">
                <div class="like">
                  <div class="heart"></div>
                  <div class="heart_cnt">{{ article.like }}</diV>
                </div>
              </a>
            </div>
            <a href="{% url 'detail' article.id %}">編集</a>
            <br>
          </div>
        {% endfor %}
      {% else %}
        <p> 投稿はありません</p>
      {% endif %}

      <p><a href="{% url 'rank' %}" id="rank">Rank</a></p>

    </main>
  </body>
</html>

