{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>DM</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tt.css' %}">
  </head>
  <body>
    <h1>時間割</h1>

    
    <TABLE BORDER="10">
        <TR> <TH>時間/曜日 </TH> <TH>月曜日</TH> <TH>火曜日</TH> <TH>水曜日</TH> </TR>
        <TR> <TD>1限</TD> 
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
        </TR>
        <TR><TD>2限</TD>
            <TD><label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
        </TR>
        <TR> <TD>3限</TD>
            <TD><label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
        </TR>
        <TR> <TD>4限</TD>
            <TD><label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
        </TR>
        <TR> <TD>5限</TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
            <TD>
                <label for="pet-select"></label>
                <select name="subject" id="subject-select">
                    <option value="">--未選択--</option>
                    <option value="national">国語</option>
                    <option value="math">数学</option>
                    <option value="english">英語</option>
                    <option value="science">理科</option>
                    <option value="society">社会</option>
                </select>
            </TD>
        </TR>
        <CAPTION>1F10200xxxの時間割</CAPTION>
    </TABLE>
    
  </body>
</html>
